<html ng-app="DirectiveMadness" >
  <head>
    <title>Directives!</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <!--Lo-Dash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <nav>
    <main-nav></main-nav>
  </nav>


  <body ng-controller="ScopesCtrl">
    <main-header>{{ mainHeader }}</main-header>

    <label>
      One Way
      <input type='text' ng-model='oneWay'><br>
    </label><br>

    <label>
      Two Way
      <input type='text' ng-model='twoWay'><br>
    </label><br>

    <!-- One Way bindings expect an EXPRESSION. Two Way bindings expect a VARIABLE. -->
    <isolated one-way='{{ oneWay }}' two-way='twoWay' say-hello='hello(nameFromForm)'></isolated><br>

    <copyright>{{ copyright }} {{ copyrightCompany }} {{ copyrightYear }}</copyright>
  </body>

</html>
